* {
    background-color: #0f172a;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
}

.body {
    min-width: 750px;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 1rem;
    color: #ffffff;
}

.card {
    background-color: #1e293b;
    border-radius: 0.5rem;
    border: 0.1 solid #ccc;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
    padding: 1rem;
    margin-bottom: 1rem;
}

.h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 2pt;
    margin-bottom: 0.5rem;
    color: #ffffff;
    background-color: unset;
}

button {
    background-color: #0ea5e9;
    border: 0.1 solid #ccc;
    border-radius: 0.5rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
}

button:hover {
    background-color: #38bdf8;
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 40%;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 900px;
}

canvas {
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
}

.flex-item-right {
    flex: 60%;
}

.tools-container {
    margin-left: 1rem;
}

.inner-flex-container {
    display: flex;
    /* membuat elemen .container menjadi flex box */
    flex-wrap: wrap;
    background-color: unset;
}

.inner-col-1,
.inner-col-2,
.inner-col-3 {
    flex: 1;
    /* memberikan properti flex pada masing-masing kolom */
    padding: 5px;
    /* memberikan padding pada masing-masing kolom */
}

.inner-card {
    background-color: #11192c;
    border-radius: 0.5rem;
    color: #ffffff;
    border: 0.1 solid #ccc;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
    padding: 0.5rem;
    margin-right: 1rem;
}

.col-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #ffffff;
    background-color: unset;
    text-align: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #ffffff;
}

.slider-item {
    display: flex;
    align-items: center;
    margin: 4px 10px;
}

label {
    margin-right: 10px;
    background-color: unset;
    color: #ffffff;
    font-size: 1rem;
}

.label {
    background-color: unset;
    color: #ffffff;
    margin-right: 10px;
}

.value {
    margin-left: 10px;
    background-color: unset;
    color: #ffffff;
}

.slider-view-field-container {
    display: none;
    flex-direction: row;
    align-items: left;
    margin-top: 1em;
    background-color: unset;
}

.slider-f-factor-container {
    display: none;
    flex-direction: row;
    align-items: left;
    margin-top: 1em;
    background-color: unset;
}

.slider-beta-angle-container {
    display: none;
    flex-direction: row;
    align-items: left;
    margin-top: 1em;
    background-color: unset;
}

input[type="radio"]:checked[value="perspective"]
    ~ .slider-view-field-container {
    display: block;
}

input[type="radio"] {
    transform: scale(1.5);
    /* memperbesar radio button */
    margin-right: 10px;
    /* menambahkan jarak antara radio button dan tulisan */
}

.shading-title {
    margin-top: 1rem;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: unset;
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 34px;
    border-radius: 34px;
    background-color: #ccc;
    cursor: pointer;
}

.toggle-switch label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    transition: all 0.3s;
}

.toggle-switch input:checked + label {
    background-color: #2196f3;
}

.toggle-switch input:checked + label:after {
    transform: translateX(26px);
}

.on-off-label {
    margin-left: 10px;
    background-color: unset;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.modal {
    display: none;
    /* Sembunyikan modal box secara default */
    position: fixed;
    /* Positikan modal box secara tetap pada posisi tertentu */
    z-index: 1;
    /* Atur z-index untuk memastikan modal box tampil di atas halaman web */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Aktifkan scroll jika konten melebihi area viewport */
    background-color: rgba(0, 0, 0, 0.4);
    /* Tambahkan latar belakang semi-transparan */
}

.modal-content {
    background-color: #1e293b;
    margin: 2% auto;
    /* Atur jarak modal box dari atas dan bawah halaman */
    border-radius: 0.5rem;
    border: 0.1 solid #ccc;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
    padding: 20px;
    width: 80%;
    /* Atur lebar konten modal box */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text {
    color: #ffffff;
    background-color: #1e293b;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    background-color: unset;
    text-align: justify;
    white-space: pre-line;
}

details details {
    margin-left: 10pt;
}
.treeview {
    padding: 5pt;
    width: 240pt;
    font: 10pt Arial;
    display: inline-block;
}

#display {
    padding: 5pt;
}

summary[selected="true"] {
    background-color: #0ea5e9;
    border-radius: 8pt;
    padding-left: 4pt;
}

summary {
    cursor: pointer;
    padding-left: 4pt;
}
summary:hover {
    background-color: #74a1cf;
    border-radius: 8pt;
    padding-left: 4pt;
}

summary .icon {
    width: 16px;
    height: 16px;
}

summary:only-child::-webkit-details-marker {
    color: transparent;
}
details details {
    margin-left: 10pt;
    display: block;
}
#display {
    display: inline-block;
    vertical-align: top;
}
#display {
    font-family: Arial;
}
.label {
    font-size: 14pt;
    font-weight: bold;
}
.descr {
    font-size: 10pt;
}

@media screen and (max-width: 1800px) {
    .title {
        font-size: 2rem;
    }

    .h2 {
        font-size: 1.2rem;
    }

    .col-title {
        font-size: 1rem;
    }

    .flex-item-left #canvas {
        width: 500px;
        height: 500px;
    }

    .flex-item-left #canvas2 {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 700px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }

    .inner-col-1,
    .inner-col-2,
    .inner-col-3 {
        flex: 100%;
        margin-bottom: 0.5rem;
    }

    .flex-item-left #canvas {
        width: 300px;
        height: 300px;
    }

    .flex-item-left #canvas2 {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .flex-item-left canvas {
        width: 300px;
        /* set width to 400px */
        height: 300px;
        /* set height to 400px */
    }

    .title {
        font-size: 1.5rem;
    }
}

.clear-bg {
    background-color: unset;
}

.flex40 {
    flex: 40%;
}

.flex60 {
    flex: 60%;
}

.align-left {
    text-align: left;
}

.mt-10 {
    margin-top: 10px;
}
